body {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

//header {
//  //text-align: center;
//  //padding-top: 100px;
//}

//h1 {
//  font-size: 2rem;
//}
//
//h3 {
//  font-size: 1.5rem;
//  margin-left: 40px;
//}
//
//p {
//  font-size: 1.2rem;
//}

//main {
//  max-width: 600px;
//}

//.logo {
//  height: 125px;
//  width: 125px;
//  margin-right: auto;
//  margin-left: auto;
//}
