h1  {
  //font-family: "Forza A", "Forza B";
  //font-style: normal;
  //font-weight: 400;

  font-family: "Gotham Rounded A", "Gotham Rounded B";
  font-style: normal;
  font-weight: 700;

  //font-family: "Mercury SSm A", "Mercury SSm B";
  //font-style: normal;
  //font-weight: 400;
  //font-variant: small-caps;
}



body {

  font-family: "Ideal Sans A", "Ideal Sans B";
  font-style: normal;
  font-weight: 300;

  //font-family: "Verlag A", "Verlag B";
  //font-style: normal;
  //font-weight: 400;

  font-size: 1.125rem;
  line-height: 1.75;
}

h1 {
  font-size: 4.2rem;
  margin: 0;
}

h2,h3 {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  margin-bottom: .5rem;

  font-family: "Gotham Rounded A", "Gotham Rounded B";
  font-style: normal;
  font-weight: 700;
}


p {
  margin-top: 0;
  margin-bottom: 1.55rem;
}
