@import '__breakpoints.scss';
@import '_body.scss';
@import '_typography.scss';
@import '_button.scss';
@import '_layout.scss';
@import '_header.scss';
@import '_create.scss';

main {
  display : flex;
  flex-direction: column;
  padding-top: 2rem;
}


